<%= form_for(@idea, :html => {:multipart => true, :class=>"form-horizontal"}) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div> <!-- end #error_explanation -->
  <% end %>

  <div class="control-group">
    <%= f.label :nombre, :class =>"control-label" %>
    <div class="controls">  
      <%= f.text_field :name %>
    </div> <!-- end .controls -->
  </div> <!-- end .field.control-group -->
  
  <div class="field control-group">
    <%= f.label :descripción, :class =>"control-label" %>
    <div class="controls">   
      <%= f.text_area :description %>
    </div> <!-- end .controls -->
  </div> <!-- end .field.control-group -->
  
  <div class="field control-group">
    <%= f.label :imagen, :class =>"control-label" %>
    <div class="controls">   
      <%= f.file_field :imagen %>
    </div> <!-- end .controls -->
  </div> <!-- end .field.control-group -->
  
  <div class="field control-group">
    <%= f.label :fecha, :class =>"control-label" %>
    <div class="controls">
      <%= f.datetime_select :fecha %>
    </div> <!-- end .controls -->
  </div> <!-- end .field.control-group -->
  
  <div class="actions">
    <%= f.submit("Guardar", {:class =>"btn btn-primary btn-large"}) %>
  </div>
<% end %>
