<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @idea.titulo %>
</p>

<p>
  <b>Descripción:</b>
  <%= @idea.description %>
</p>

<p>
  <b>Imagen:</b>
  <%= image_tag(@idea.picture_url, :width =>600) if @idea.picture.present? %>
</p>

<p>
  <b>Fecha y hora:</b>
  <%= @idea.fecha %>
</p>

<%= link_to 'Editar', edit_idea_path(@idea), :class =>"btn btn-primary" %> |
<%= link_to 'Volver', ideas_path, :class =>"btn btn-info" %>
